body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

h1.jumbo
  font-size:72pt;
  line-height:0%;

#contentBox
  padding:20px;
  border:1px solid #f7f7f7;

#pcode
  font-size:36pt;
  color:#c2c2c2;

#config
  list-style:none;
  
#config > li
  height:30px;
  margin-top:10px;

.input-label
  width:80px;
  display:inline-block;
  text-align:right;

.config-input
  width:20px;

.input-label
  width:80px;
  display:inline-block;
  text-align:right;

input[type='range']
  vertical-align:middle;

.range-display
  color:#333;
  display:inline-block;
  border:1px solid #ccc;
  background:#333;
  color:#fff;
  padding:3px;
  height:15px;
  width:15px;
  text-align:center;